.my-item{
    border: 2px solid #F2A70C;
    background-color: #0A2E43;
    margin-bottom: 15px;
    border-radius: 15px;
    color: white;
}
@media screen and (max-width: 688px) {
    .my-item{
       width: 96%;
       margin-left: 2%;
    }
}