.blog{
    height: 60%;
}
@media screen and (max-width: 688px) {
    .blogs{
        height: 200vh !important; 
    }
    .blog{
        height: 75% !important;
        margin-bottom: -20px !important;
    }
   
}