.banner{
    height: 95vh;
    background-color: #021B29;
}
.banner-title{
    font-size: 60px;
    line-height: 1;
}
.explore-btn{
    background-color: #F2A70C;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
}